# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment folder
venv/
.env

# VSCode settings
.vscode/

# PyCharm settings
.idea/

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# macOS files
.DS_Store

# Logs and temp files
*.log
*.tmp
